---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Blog">
  <main>
    <h1>About</h1>
    <p>I've been a developer for ~15 years, mostly in Healthcare.</p>
    <p>I also enjoy coaching the local lacrosse team and mentoring First Lego League teams with my kids.</p>
  </main>
</Layout>
